/*
    This module will change the Jellyfin logo to a custom one.
    This allows you to white-label your Jellyfin instance slightly.
    This can be used as a standalone module.
*/

:root {
    --logo-url: url('https://cdn.jsdelivr.net/gh/shivamdem003/jellyfin-theme@feature/netflix/assets/banner.png');
}

.pageTitleWithDefaultLogo,
.spashLogo {
    background-image: var(--logo-url) !important;
    background-size: contain;
}

.pageTitleWithDefaultLogo {
    height: 104px;
    width: 325px;
}
