/*
    This module will change the Jellyfin logo to a custom one.
    This allows you to white-label your Jellyfin instance slightly.
    This can be used as a standalone module.
*/

:root {
    --logo-url: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath style='fill:%23CEE8FA;' d='M98.853,465.385l6.957-12.044c13.523-23.417,44.611-77.257,75.027-129.995l2.323-4.03l314.672,0.788l-83.825,145.282H98.853z'/%3E%3Cpath style='fill:%232D527C;' d='M510.11,313.034c-2.523-4.38-7.187-7.085-12.241-7.097l-160.787-0.402L197.058,60.778h135.778c5.076,0,9.765-2.717,12.289-7.12l99.106-172.855c3.893-6.788,12.548-9.136,19.336-5.243c6.787,3.891,9.134,12.548,5.243,19.336L353.333,39.565c-2.524-4.403-7.213-7.12-12.289-7.12h-168.41c-2.54,0-4.981,0.681-7.104,1.914c-2.129,1.213-3.94,2.975-5.217,5.168L1.926,311.352c-2.556,4.387-2.568,9.804-0.035,14.205l84.605,146.855c1.364,2.369,3.316,4.179,5.56,5.386c2.051,1.123,4.376,1.757,6.797,1.757h315.156c5.063,0,9.739-2.702,12.271-7.086l83.825-145.282C512.63,322.806,512.631,317.413,510.11,313.034z M172.438,74.992l67.225,117.506c-4.846,8.447-18.794,32.672-40.874,70.994c-3.906,6.779-1.577,15.44,5.202,19.347c6.779,3.906,15.44,1.577,19.347-5.202c22.08-38.322,36.028-62.547,40.874-70.994l67.225,117.506c3.906,6.779,12.568,9.108,19.347,5.202c6.779-3.906,9.108-12.568,5.202-19.347L353.333,39.565c-2.524-4.403-7.213-7.12-12.289-7.12h-168.41c-2.54,0-4.981,0.681-7.104,1.914c-2.129,1.213-3.94,2.975-5.217,5.168L1.926,311.352c-2.556,4.387-2.568,9.804-0.035,14.205l84.605,146.855c1.364,2.369,3.316,4.179,5.56,5.386c2.051,1.123,4.376,1.757,6.797,1.757h315.156c5.063,0,9.739-2.702,12.271-7.086l83.825-145.282C512.63,322.806,512.631,317.413,510.11,313.034z'/%3E%3C/svg%3E");
}

.pageTitleWithDefaultLogo,
.spashLogo {
    background-image: var(--logo-url) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}
