/*
    This module will make your Jellyfin cards lift up slightly when hovered over.
    This is a simple and effective way to make your Jellyfin instance look more modern.
    This can be used as a standalone module.
*/

.cardBox {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.cardBox:hover {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}